<h1>Welcome to pet store!!!!</h1>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <a href="/products/<%= product.id %>">
        <div class="img-wrapper">
          <img class="img-responsive" src="<%= product.images.first.url if product.images.any? %>">
        </div>
      <div class="info-background">
        <p><%= product.name %></p>
        <p><%= number_to_currency(product.price) %></p>
      </div>
      </a>
    </div>
  <% end %>
</div>